<%= high_chart_globals(@chart_globals) %>

<div class="container-fluid header py-3 py-lg-4">
  <div class="row align-items-center">
    <div class="col-lg-9 text-center text-lg-left mb-3 mb-lg-0">
      <h1>El Paso, Texas COVID-19 Tracker</h1>
      <p>Last Updated: <%= @last_updated_on.strftime("%B %e at %l:%M %p") %> MDT <em>(<%= time_ago_in_words(@last_updated_on) %> ago)</em></p>
    </div>
    <div class="col-lg-3 text-center text-lg-right total-cases">
      <span class="counter"><%= @total_cases %></span>
      <p>Total Cases</p>
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 alert text-center">

      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Emergency Directive</h2>
            <p>All parks and recreational areas are now closed to the public and off limits. Public and private gatherings of any kind are prohibited. <%= link_to "Read More", "http://epstrong.org/faqs.php" %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h2>Total Cases by Day</h2>
      <%= high_chart("total_cases_by_day", @total_cases_by_day) %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Total Cases by Age Range</h3>
      <%= high_chart("total_cases_by_age_range", @total_cases_by_age_range) %>
    </div>
    <div class="col-lg-6">
      <h3>Total Cases by Gender</h3>
      <%= high_chart("total_cases_by_gender", @total_cases_by_gender) %>
    </div>
    <hr>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col">
      <h3>Total Cases by Zip Code</h3>
      
      <table class="table table-borderless table-sm text-center mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Zip Code</th>
            <th>Total Cases</th>
          </tr>
        </thead>
        <tbody>
          <% for point in @total_cases_by_zip_code %>
            <tr>
              <td><%= point[0] %></td>
              <td><%= point[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
      <% @total_cases_by_individual_zip_code.each do |zip_code, chart| %>
        <div class="col-md-6 col-lg-3 chart-individual-zip-code mb-5">
          <h3>Total Cases in <%= zip_code %></h3>
          <%= high_chart("total_cases_by_individual_zip_code_#{zip_code}", chart) %>
        </div>
      <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4>Helpful Resources</h4>
      <ul>
        <li><%= link_to "City of El Paso - COVID-19 Information & Resources", "http://epstrong.org" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4>Data Sources</h4>
      <ul>
        <li><%= link_to "City of El Paso Facebook - April 3, 2020", "https://www.facebook.com/notes/city-of-el-paso-texas-municipal-government/covid-19-update-el-paso-identifies-additional-covid-19-cases/2923000401072717/" %></li>
        <li><%= link_to "City of El Paso Facebook - April 2, 2020", "https://www.facebook.com/notes/city-of-el-paso-texas-municipal-government/covid-19-update-el-paso-identifies-additional-covid-19-cases/2920931354612955/" %></li>
        <li><%= link_to "City of El Paso Facebook - April 1, 2020", "https://www.facebook.com/notes/city-of-el-paso-texas-municipal-government/city-amends-emergency-directive-aimed-at-reducing-spread-of-covid-19/2918569611515796/" %></li>
        <li><%= link_to "City of El Paso Facebook - March 31, 2020", "https://www.facebook.com/notes/city-of-el-paso-texas-municipal-government/covid-19-update-el-paso-identifies-additional-covid-19-cases/2916368208402603/" %></li>
        <li><%= link_to "El Paso Matters - March 30, 2020", "https://elpasomatters.org/2020/03/30/el-paso-has-begun-showing-general-location-of-covid-19-positive-tests/" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid footer py-3">
  <div class="row align-items-center">
    <div class="col-12 text-center text-lg-right">
      Not Affiliated with the <%= link_to "City of El Paso", "https://www.elpasotexas.gov" %> or the <%= link_to "City of El Paso Department of Public Health", "http://www.elpasotexas.gov/public-health" %>
      <div class="mt-2">
        Site by <%= link_to "Brandon Silverstein", "https://twitter.com/thebsilverstein" %>
      </div>
    </div>
  </div>
</div>