<%= high_chart_globals(@chart_globals) %>

<div class="container-fluid header py-3 py-lg-4">
  <div class="row align-items-center">
    <div class="col-lg-7 text-center text-lg-left mb-3 mb-lg-0">
      <h1>El Paso, Texas COVID-19 Tracker</h1>
      <p>Last Updated: <%= @last_updated_on.strftime("%B %e at %l:%M %p") %> MDT <em>(<%= time_ago_in_words(@last_updated_on) %> ago)</em></p>
    </div>
    <div class="col-lg-5 text-center total-cases">
      
      <div class="container">
        <div class="row">
          <div class="col-4">
            <span class="counter"><%= @total_cases %></span>
            <p>Total Cases</p>
          </div>
          <div class="col-4">
            <span class="counter deaths"><%= @total_deaths %></span>
            <p>Total Deaths</p>
          </div>
          <div class="col-4">
            <span class="counter recoveries"><%= @total_recoveries %></span>
            <p>Total Recoveries</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-12 alert mb-0 text-center">

      <div class="container">
        <div class="row">
          <div class="col col-md-10 offset-md-1 text-left">
            <h2><%= @last_updated_on.strftime("%A, %B %e") %>:<br><%= pluralize @new_cases, "New Coronavirus Case" %>, <%= pluralize @new_deaths, "New Death" %> </h2>
            <p class="text-center">Business customers and business workers are now required to wear face coverings. <%= link_to "Read More", "http://epstrong.org/health-orders.php" %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="container-fluid mb-3">
  <div class="row">
    <div class="col-12 alert alert-notice text-center">

      <div class="container">
        <div class="row">
          <div class="col col-md-10 offset-md-1 text-left">
            <p class="text-center">The city of El Paso has updated their schedule for releasing data. This website will be updated in the morning with overall data and by the afternoon with zip code specific data.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div> -->

<div class="container mb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Total Cases and Recoveries by Day</h2>

      <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
        <label class="btn btn-outline-secondary btn-sm active">
          <input type="radio" name="total_cases_by_day_options" id="option1" value="total_cases_by_day" checked> Linear
        </label>
        <label class="btn btn-outline-secondary btn-sm">
          <input type="radio" name="total_cases_by_day_options" id="option2" value="total_cases_by_day_logarithmic"> Logarithmic
        </label>
      </div>

      <div class="row">
        <div class="col-12" id="chart_total_cases_by_day">
          <%= high_chart("total_cases_by_day", @total_cases_by_day) %>
        </div>
        <div class="col-12" id="chart_total_cases_by_day_logarithmic">
          <%= high_chart("total_cases_by_day_logarithmic", @total_cases_by_day_logarithmic) %>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>New Cases by Day</h3>
      <%= high_chart("new_cases_by_day", @new_cases_by_day) %>
    </div>
    <div class="col-lg-6">
      <h3>New Recoveries by Day</h3>
      <%= high_chart("new_recoveries_by_day", @new_recoveries_by_day) %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-12 mb-5 mb-lg-0">
      <h3>Active Cases by Day</h3>
      <%= high_chart("active_cases_by_day", @active_cases_by_day) %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Patients Hospitalized</h3>
      <%= high_chart("patients_hospitalized", @patients_hospitalized) %>
    </div>
    <div class="col-lg-6">
      <h3>Patients in ICU</h3>
      <%= high_chart("patients_in_icu", @patients_in_icu) %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Total Deaths by Day</h3>
      <div class="col-12 mb-3 text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary btn-sm active">
            <input type="radio" name="total_deaths_by_day_options" id="option1" value="total_deaths_by_day" checked> Linear
          </label>
          <label class="btn btn-outline-secondary btn-sm">
            <input type="radio" name="total_deaths_by_day_options" id="option2" value="total_deaths_by_day_logarithmic"> Logarithmic
          </label>
        </div>

        <div class="row">
          <div class="col-12" id="chart_total_deaths_by_day">
            <%= high_chart("total_deaths_by_day", @total_deaths_by_day) %>
          </div>
          <div class="col-12" id="chart_total_deaths_by_day_logarithmic">
            <%= high_chart("total_deaths_by_day_logarithmic", @total_deaths_by_day_logarithmic) %>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-lg-6">
      <h3>New Deaths by Day</h3>
      <%= high_chart("new_deaths_by_day", @new_deaths_by_day) %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Total Cases by Age Range</h3>
      <%= high_chart("total_cases_by_age_range", @total_cases_by_age_range) %>
    </div>
    <div class="col-lg-6">
      <h3>Total Deaths by Age Range</h3>
      <%= high_chart("total_deaths_by_age_range", @total_deaths_by_age_range) %>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Total Cases by Gender</h3>
      <%= high_chart("total_cases_by_gender", @total_cases_by_gender) %>
    </div>
  </div>
</div>


<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h3>Total Cases by Zip Code</h3>
      
      <table class="table table-borderless table-sm text-center mt-3" id="totalCasesByZipCode">
        <thead class="thead-dark">
          <tr>
            <th>Zip Code</th>
            <th>Total Cases</th>
          </tr>
        </thead>
        <tbody>
          <% for point in @total_cases_by_zip_code %>
            <tr>
              <td><%= link_to point[0], point[1] %></td>
              <td><%= point[2] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
      <% @total_cases_by_individual_zip_code.each do |zip_code, chart| %>
        <div class="col-md-6 col-lg-4 chart-individual-zip-code mb-5">
          <h3>Total Cases in <%= link_to zip_code, @total_cases_by_zip_code.find { |point| point[0] == zip_code }[1] %></h3>
          <%=  %>
          <%= high_chart("total_cases_by_individual_zip_code_#{zip_code}", chart) %>
        </div>
      <% end %>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h4>Helpful Resources</h4>
      <ul>
        <li><%= link_to "City of El Paso - COVID-19 Information & Resources", "http://epstrong.org" %></li>
        <li><%= link_to "Paso del Norte Health Foundation - El Paso COVID-19 Information Hub", "http://epcovid19.org" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h4>Data Sources</h4>

      <div class="row">
        <% for group in @links.in_groups_of((@links.size.to_f / 3).ceil, false) %>
          <div class="col-12 col-md-4">
            <ul>
              <% for link in group %>
                <li><%= link_to link[0], link[1] %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer py-3">
  <div class="row align-items-center">
    <div class="col-12 text-center text-lg-right">
      Not Affiliated with the <%= link_to "City of El Paso", "https://www.elpasotexas.gov" %> or the <%= link_to "City of El Paso Department of Public Health", "http://www.elpasotexas.gov/public-health" %>
      <div class="mt-2">
        Site by <%= link_to "Brandon Silverstein", "https://twitter.com/thebsilverstein" %>
      </div>
    </div>
  </div>
</div>