<%= high_chart_globals(@chart_globals) %>

<div class="container-fluid header py-3 py-lg-4">
  <div class="row align-items-center">
    <div class="col-lg-9 text-center text-lg-left mb-3 mb-lg-0">
      <h1>El Paso, Texas COVID-19 Tracker</h1>
      <p>Last Updated: <%= @last_updated_on.strftime("%B %e at %l:%M %p") %> MDT <em>(<%= time_ago_in_words(@last_updated_on) %> ago)</em></p>
    </div>
    <div class="col-lg-3 text-center text-lg-right total-cases">
      
      <div class="container">
        <div class="row">
          <div class="col-6">
            <span class="counter"><%= @total_cases %></span>
            <p>Total Cases</p>
          </div>
          <div class="col-6">
            <span class="counter deaths"><%= @total_deaths %></span>
            <p>Total Deaths</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12 alert text-center">

      <div class="container">
        <div class="row">
          <div class="col col-md-10 offset-md-1 text-left">
            <h2><%= @last_updated_on.strftime("%A, %B %e") %>:<br><%= pluralize @new_cases, "New Coronavirus Case" %>, <%= pluralize @new_deaths, "New Death" %> </h2>
            <p>Face covering use is encouraged for all residents. Health officials implore the community to stay home as the number of cases are expected to accelerate dramatically over the next several weeks. <%= link_to "Read More", "http://epstrong.org/faqs.php" %></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h2>Total Cases by Day</h2>
      <%= high_chart("total_cases_by_day", @total_cases_by_day) %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h2>Total Deaths by Day</h2>
      <%= high_chart("total_deaths_by_day", @total_deaths_by_day) %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-lg-6 mb-5 mb-lg-0">
      <h3>Total Cases by Age Range</h3>
      <%= high_chart("total_cases_by_age_range", @total_cases_by_age_range) %>
    </div>
    <div class="col-lg-6">
      <h3>Total Cases by Gender</h3>
      <%= high_chart("total_cases_by_gender", @total_cases_by_gender) %>
    </div>
    <hr>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col">
      <h3>Total Cases by Zip Code</h3>
      
      <table class="table table-borderless table-sm text-center mt-3" id="totalCasesByZipCode">
        <thead class="thead-dark">
          <tr>
            <th>Zip Code</th>
            <th>Total Cases</th>
          </tr>
        </thead>
        <tbody>
          <% for point in @total_cases_by_zip_code %>
            <tr>
              <td><%= link_to point[0], point[1] %></td>
              <td><%= point[2] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
      <% @total_cases_by_individual_zip_code.each do |zip_code, chart| %>
        <div class="col-md-6 col-lg-4 col-xl-3 chart-individual-zip-code mb-5">
          <h3>Total Cases in <%= link_to zip_code, @total_cases_by_zip_code.find { |point| point[0] == zip_code }[1] %></h3>
          <%=  %>
          <%= high_chart("total_cases_by_individual_zip_code_#{zip_code}", chart) %>
        </div>
      <% end %>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4>Helpful Resources</h4>
      <ul>
        <li><%= link_to "City of El Paso - COVID-19 Information & Resources", "http://epstrong.org" %></li>
        <li><%= link_to "Paso del Norte Health Foundation - El Paso COVID-19 Information Hub", "http://epcovid19.org" %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4>Data Sources</h4>
      <ul>
        <% for link in @links %>
          <li><%= link_to link[0], link[1] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid footer py-3">
  <div class="row align-items-center">
    <div class="col-12 text-center text-lg-right">
      Not Affiliated with the <%= link_to "City of El Paso", "https://www.elpasotexas.gov" %> or the <%= link_to "City of El Paso Department of Public Health", "http://www.elpasotexas.gov/public-health" %>
      <div class="mt-2">
        Site by <%= link_to "Brandon Silverstein", "https://twitter.com/thebsilverstein" %>
      </div>
    </div>
  </div>
</div>